*{
    margin: 0px;
    padding: 0px;
}

:root{
    --color:#2c3e50;
}
#nav{
    height: 50px;
    background-color: var(--color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

@media(max-width:768px){
    #nav{
        flex-direction: column;
    }
}

#cont{
    display: flex;
    justify-content: center;
}

#contact{
    width: 400px;
    padding: 10px;
    text-align: center;
    background-color: rgb(237, 237, 237);
    margin-bottom: 10px;
    border-radius: 10px;
}

#input1{
    height: 30px;
    width: 90%;
    margin: 10px;
    border-radius: 5px;
    border-width: 1.2px;
    border-style: ridge;
    padding: 5px;
    font-size: 15px;
}

h1{
    text-align: center;
}
a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    transition-duration: 0.5s;
}

a:hover{
    color:rgb(55, 159, 250) ;
}

.fa-solid{
    padding-right: 10px;
}

#product{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 16px;
}

@media(max-width:768px){
    #product{
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
    }
}

@media(min-width:768px) and (max-width:1020px){
    #product{
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
}


#box{
    border-style: ridge;
    border-width: 1.2px;
    border-color: rgb(234, 234, 234);
    transition-duration: 0.3s;
    border-radius: 5px;
}

#img{
    padding: 20px;
    transition-duration: 0.3s;
}

#content{
    text-align: center;
}

button{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color);
    color: white;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.5s;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover{
    background-color:rgb(55, 159, 250) ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#text1{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#text2{
    color: rgb(134, 134, 134);
}

#box:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform:translateY(-7px);
}

#img:hover{
    transform: scale(1.06);
}
